
services:


  db:
    image: postgres:15
    container_name: odoo-db
    restart: unless-stopped
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER}
    volumes:
      - "./odoo_db_data:/var/lib/postgresql/data"
    ports:
      - "5432:5432"

  web:
    build:
      context: ./odoo
      dockerfile: Dockerfile
    image: odoo-custom:17.0
    container_name: odoo-app
    restart: unless-stopped
    depends_on:
      - db
    ports:
      - "8069:8069"
    volumes:
      - type: volume
        source: odoo_data
        target: /var/lib/odoo
      - ./odoo/addons/pos_custom:/mnt/extra-addons
    environment:
      - HOST=db
      - USER=${POSTGRES_USER}
      - PASSWORD=${POSTGRES_PASSWORD}
      - RABBITMQ_HOST=${RABBITMQ_HOST}
      - RABBITMQ_PORT=${RABBITMQ_PORT}
      - RABBITMQ_USERNAME=${RABBITMQ_USERNAME}
      - RABBITMQ_PASSWORD=${RABBITMQ_PASSWORD}
      - RABBITMQ_VHOST=${RABBITMQ_VHOST}
    dns:
      - 8.8.8.8
      - 1.1.1.1
    env_file:
      - .env
  
  adminer:
    image: adminer
    container_name: adminer
    restart: unless-stopped
    ports:
      - "8080:8080"

  consumer_user:
    build:
      context: ./consumers
    container_name: consumer_user
    command: python consumer.py
    volumes:
      - ./consumers:/app
    restart: unless-stopped
    depends_on:
      - web
      - db
volumes:
  odoo_data: