# version: "3.9"

# x-heartbeat: &heartbeat-template
#   build:
#     context: ./heartbeat
#     dockerfile: Dockerfile
#   restart: unless-stopped
#   volumes:
#     - ./heartbeat/heartbeat.py:/app/heartbeat.py:ro
#   command: ["python", "/app/heartbeat.py"]
#   env_file:
#     - .env
#   environment:
#     - HEARTBEAT_INTERVAL=1
#     # worden overschreven per service
#     - SENDER_NAME=
#     - CONTAINER_NAME=

services:
  db:
    image: postgres:15
    container_name: odoo-db
    restart: unless-stopped
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER}
    volumes:
      - odoo_db_data:/var/lib/postgresql/data
    ports: ["30026:5432"]

  # heartbeat-db:
  #   <<: *heartbeat-template
  #   container_name: hb-odoo-db
  #   depends_on: [db]
  #   environment:
  #     - SENDER_NAME=pos
  #     - CONTAINER_NAME=odoo-db

  web:
    build: .
    image: odoo:17.0
    #container_name: odoo-app
    restart: unless-stopped
    depends_on: [db]
    ports: ["30030:8069"]
    volumes:
      - type: volume
        source: odoo_data
        target: /var/lib/odoo
      - ./odoo/addons/pos_custom:/mnt/extra-addons
    env_file: [.env]
    environment:
      - HOST=db
      - USER=${POSTGRES_USER}
      - PASSWORD=${POSTGRES_PASSWORD}
      - RABBITMQ_HOST=${RABBITMQ_HOST}
      - RABBITMQ_PORT=${RABBITMQ_PORT}
      - RABBITMQ_USERNAME=${RABBITMQ_USERNAME}
      - RABBITMQ_PASSWORD=${RABBITMQ_PASSWORD}
      - RABBITMQ_VHOST=${RABBITMQ_VHOST}
    dns: [8.8.8.8, 1.1.1.1]

  # heartbeat-web:
  #   <<: *heartbeat-template
  #   container_name: hb-odoo-app
  #   depends_on: [web]
  #   environment:
  #     - SENDER_NAME=pos
  #     - CONTAINER_NAME=odoo-web

  adminer:
    image: adminer
    container_name: adminer
    restart: unless-stopped
    ports: ["8080:8080"]

  # heartbeat-adminer:
  #   <<: *heartbeat-template
  #   container_name: hb-adminer
  #   depends_on: [adminer]
  #   environment:
  #     - SENDER_NAME=pos
  #     - CONTAINER_NAME=adminer

  consumer_user:
    build:
      context: ./consumers
    container_name: consumer_user
    command: python consumer.py
    volumes:
      - ./consumers:/app
    restart: unless-stopped
    depends_on:
      - web
      - db

  # heartbeat-consumer:
  #   <<: *heartbeat-template
  #   container_name: hb-consumer_user
  #   depends_on: [consumer_user]
  #   environment:
  #     - SENDER_NAME=pos
  #     - CONTAINER_NAME=consumer_user

volumes:
  odoo_data:
  odoo_db_data: