
services:
  db:
    image: postgres:15
    container_name: odoo-db
    restart: unless-stopped
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER}
    volumes:
      - "./odoo_db_data:/var/lib/postgresql/data"
    ports:
      - "5432:5432"

  web:
    image: odoo:17.0
    container_name: odoo-app
    restart: unless-stopped
    depends_on:
      - db
      - rabbitmq
    ports:
      - "8069:8069"
    volumes:
      - "./odoo_web_data:/var/lib/odoo"
      - "./custom-addons:/mnt/extra-addons"
  db:
    image: postgres:15
    container_name: odoo-db
    restart: unless-stopped
    environment:
      - HOST=db
      - USER=${POSTGRES_USER}
      - PASSWORD=${POSTGRES_PASSWORD}
  
  adminer:
    image: adminer
    container_name: adminer
    restart: unless-stopped
    ports:
      - "8080:8080"
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    restart: unless-stopped
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USERNAME}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD}
      RABBITMQ_DEFAULT_VHOST: ${RABBITMQ_VHOST}
    volumes:
      - ./rabbitmq_data:/var/lib/rabbitmq

#  heartbeat:
#    build: ./heartbeat
#    container_name: heartbeat-service
#    restart: unless-stopped
#    depends_on:
#      - rabbitmq
#    environment:
#      RABBITMQ_HOST: rabbitmq
